.name{
    display: flex;
    justify-content: space-between;
    >div:first-child{
        display: flex;
        height: 100px;
        gap: 20px;
        >div:first-child{
            width: 50px;
            height: 50px;
            >img{
                width: 100%;
                border-radius: 100%;
                height: 100%;
            }
        }
        >div:last-child{
            text-align: start;
            height: 50px;
            display: inline;
            >div:first-child{
                font-size: 17px;
                font-weight: 400;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            >div:last-child{
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
    >div:last-child{
        width: 70px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 40%;
        position: relative;
        >div:first-child{
            width: 30px;
            margin: auto;
            padding: 12px;
            >img{
                width: 100%;
            }
        }
        >div:last-child{
            position: absolute;
            background: #FF0000;
            width: 3px;
            height: 3px;
            color: #FF0000;
            padding: 3px;
            border-radius: 100%;
            right: 24px;
            bottom: 27px;
        }
    }
}